# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django migrations
*/migrations/*

# Pytest and coverage reports
*.cover
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.log
*.pot
*.pyc
*.pyo

# Django specific
db.sqlite3
*.sqlite3
*.db
*.db-journal
media/*
!media/.gitkeep  # Keep the empty media folder under version control
staticfiles/
staticfiles/*

# Ignore the local Django secret key file
.env
!.env.example  # Template for env file without sensitive data

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db
ehthumbs.db

# Python egg info
*.egg-info/
.installed.cfg
*.egg

# Build artifacts
*.build/
*.swp

# Logs and dumps
*.log
*.sql
*.sqlite3-journal
*.pid

# AWS or cloud-specific files
*.pem
instagram_cookies.json
